
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
Waggle.*
Waggle

# Output of the Go coverage tool
*.out


# IDE and editor files
.zed
.vscode/
.idea/
*.swp
*~

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Logs
*.log

# Build directories
bin/
build/

# Local env files
.env

# Added by cargo
/target
