/* Minimap */
#map-container {
    position: relative;
    width: 60vh;
    height: 40vh;
    background-image: url("game_field.png");
    background-size: cover;
    border: 1px solid #ccc;
}

#robot-icon {
    position: absolute;
    width: 5vh;
    height: 5vh;
    background-image: url("robot_icon1.png");
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    top: -100px; /* Initialize offscreen */
    left: -100px;
}

#editor-container {
    display: grid;
    grid-template-columns: 20% 80%;
    border-style: solid; 
    border-width: 2px;
}

#explorer-container {
    border-style: solid;
    border-width: 1px;
}

.fileContainer {
    padding: 6px;
}